[submodule "firrtl-interpreter"]
	path = firrtl-interpreter
	url = https://github.com/freechipsproject/firrtl-interpreter.git
[submodule "coreir"]
	path = coreir
	url = https://github.com/rdaly525/coreir
[submodule "magma"]
	path = magma
	url = git@github.com:phanrahan/magma.git
[submodule "mantle"]
	path = mantle
	url = git@github.com:phanrahan/mantle.git
[submodule "pycoreir"]
	path = pycoreir
	url = git@github.com:leonardt/pycoreir.git
[submodule "firrtl"]
	path = firrtl
	url = https://github.com/freechipsproject/firrtl
